@import './bulma';

html {
    background: $white-ter;
}

.card-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    min-width: 300px;
    min-height: 480px;
}

.poster img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 360px;
}

.navbar {
    background: $primary;
    color: $primary-invert;
    margin-bottom: 1rem;
}

.is-full {
    width: 100%;
}

.has-gap {
    margin: 0.5rem 0.1rem 0.5rem 0.1rem;
}

.margin-right {
    margin-left: auto;
}
