@import './bulma';

$mdi-font-path: '~mdi/fonts';
@import '~mdi/scss/materialdesignicons';

html {
    background: #f0f0f0;
}

.app-main {
    margin-bottom: 2rem;
}

.card-list {
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    min-height: 480px;

    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
}

.card-body {
    padding: 0.75rem;
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    height: 25%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-title {
    display: flex;
}

.is-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poster {
    height: 360px;
    padding: 0.75rem;
}

.poster img {
    width: auto;
    margin: auto;
    max-height: 100%;
}

.navbar {
    background: $primary;
    color: $primary-invert;
    margin-bottom: 1rem;
}

.is-full {
    width: 100%;
}

.has-gap {
    margin: 0rem 0rem 1rem 1rem;
}

.margin-right {
    margin-left: auto;
}

.preview {
    border: 2px dashed;
}


.info-list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
