<html>
  <head>
    <title>Fetch</title>
  </head>
  <body>
    {% for show in series %}
        <h1>{{ show.title }}</h1>
        <div>
            <p>Started on {{ show.start_date }}</p>
            {% if show.end_date is defined %}
            <p>Ends on {{ show.end_date }}</p>
            {% else %}
            <p>Ends whenever</p>
            {% endif %}
            <p>There has been released {% if show.episodes_current is defined %}{{ show.episodes_current }}{% else %}?{% endif %}/{% if show.episodes_total is defined %}{{ show.episodes_total }}{% else %}?{% endif %}</p>
        </div>
    {% endfor %}

    <div id="greeter">
    </div>

    <script src="public/bundle/vendor.js"></script>
    <script src="public/bundle/main.js"></script>
  </body>
</html>
